* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README -text
/README.md -text
/aclocal.m4 -text
/ap_include.am -text
/apertium-kaz-sah.kaz-sah.dix -text
/apertium-kaz-sah.kaz-sah.lrx -text
/apertium-kaz-sah.kaz-sah.t1x -text
/apertium-kaz-sah.kaz-sah.t2x -text
/apertium-kaz-sah.kaz-sah.t3x -text
/apertium-kaz-sah.sah-kaz.lrx -text
/apertium-kaz-sah.sah-kaz.t1x -text
/apertium-kaz-sah.sah-kaz.t2x -text
/apertium-kaz-sah.sah-kaz.t3x -text
/autogen.sh -text
autom4te.cache/output.0 -text
autom4te.cache/output.1 -text
autom4te.cache/requests -text
autom4te.cache/traces.0 -text
autom4te.cache/traces.1 -text
/config.log -text
/config.status -text
/configure -text
/configure.ac -text
/install-sh -text
/kaz-sah.prob -text
/missing -text
/modes.xml -text
modes/@kaz-sah-biltrans.mode -text
modes/@kaz-sah-chunker.mode -text
modes/@kaz-sah-dgen.mode -text
modes/@kaz-sah-disam.mode -text
modes/@kaz-sah-interchunk.mode -text
modes/@kaz-sah-lex.mode -text
modes/@kaz-sah-morph.mode -text
modes/@kaz-sah-pgen.mode -text
modes/@kaz-sah-postchunk.mode -text
modes/@kaz-sah-pretransfer.mode -text
modes/@kaz-sah-tagger.mode -text
modes/@sah-kaz-biltrans.mode -text
modes/@sah-kaz-chunker.mode -text
modes/@sah-kaz-dgen.mode -text
modes/@sah-kaz-disam.mode -text
modes/@sah-kaz-interchunk.mode -text
modes/@sah-kaz-lex.mode -text
modes/@sah-kaz-morph.mode -text
modes/@sah-kaz-pgen.mode -text
modes/@sah-kaz-postchunk.mode -text
modes/@sah-kaz-pretransfer.mode -text
modes/@sah-kaz-tagger.mode -text
modes/kaz-sah-biltrans.mode -text
modes/kaz-sah-chunker.mode -text
modes/kaz-sah-dgen.mode -text
modes/kaz-sah-disam.mode -text
modes/kaz-sah-interchunk.mode -text
modes/kaz-sah-lex.mode -text
modes/kaz-sah-morph.mode -text
modes/kaz-sah-pgen.mode -text
modes/kaz-sah-postchunk.mode -text
modes/kaz-sah-pretransfer.mode -text
modes/kaz-sah-tagger.mode -text
modes/kaz-sah.mode -text
modes/sah-kaz-biltrans.mode -text
modes/sah-kaz-chunker.mode -text
modes/sah-kaz-dgen.mode -text
modes/sah-kaz-disam.mode -text
modes/sah-kaz-interchunk.mode -text
modes/sah-kaz-lex.mode -text
modes/sah-kaz-morph.mode -text
modes/sah-kaz-pgen.mode -text
modes/sah-kaz-postchunk.mode -text
modes/sah-kaz-pretransfer.mode -text
modes/sah-kaz-tagger.mode -text
modes/sah-kaz.mode -text
/sah-kaz.prob -text
/story.sah.txt -text svneol=unset#application/octet-stream
